.btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.icon {
  width: 25px;
  height: 25px;
  fill: orange;
  background-color: grey;
  border-radius: 50%;
  z-index: 10;
  border: 3px solid transparent;
}
.icon:hover,
.icon:focus {
  fill: red;
  border-color: orange;
  background-color: white;
}
