.btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.icon {
  width: 25px;
  height: 25px;
  fill: var(--primary-color-text);
  background-color: grey;
  border-radius: 50%;
}
.icon:hover,
.icon:focus {
  fill: var(--primary-color);
  background-color: var(--primary-color-text);
}
