body {
  background-image: url('./images/blue-sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 15px;
  border: 10px;
}
